#------------------  C ----------------
# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


#--------------- C++  -------------

# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
